version: "3.9"

services:
  backend:
    build: .
    container_name: task-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    restart: always

  mongo:
    image: mongo:6
    container_name: task-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:7-alpine
    container_name: task-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongo_data:
